<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="Nav (page)">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                <h2 class="fs-2 m-0" th:text="${page}"></h2>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item-dropdown" onclick="window.location.href='#'">
                        <a href="#" class="nav-link dropdown-toggle second-text fw-bold" id="navbarDropdown"
                            role="button" data-bs-toggle="modal" data-bs-target="#logoutModal" aria-expanded="false">
                            <i class="fas fa-user me-2"></i>Sassila-Admin
                        </a>
                        <!-- <a href="#" data-bs-toggle="modal" th:attr="data-bs-target='#logoutModal'">
                            <i class="fas fa-light fa-trash-can"></i>
                        </a> -->
                        <div class="modal fade" tabindex="-1" th:attr="id='logoutModal'">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Déonnexion</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Voulez-vous vous déconnecter ?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Non</button>
                                        <a href="/logout" class="btn btn-danger">Oui</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</body>

</html>