:root {
  --main-bg-color: #2c30f1;
  --main-text-color: #094f9f;
  --second-text-color: #bbbec5;
  --second-bg-color: #9fc9f0;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(to right,
      #bae7f3,
      #c2e7f5,
      #cbf1f7,
      #d4eaf8,
      #ddf0fa);
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  /* position: fixed; */
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.profile-links {
  background-color: rgb(122, 179, 243);
  padding: 30px 20px;
  text-align: center;
  margin: 100px 70px 0 70px;
  border-radius: 10px;
}

.profile-links li {
  margin: 10px 0;
  display: block;
}

.profile-links li a {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
}

.profile-links img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}

.mt-custom {
  margin-top: 100px;
}

.mt-custom .details {
  border-bottom: 1px solid #9fc9f0;
  padding: 20px;
}

@media (max-width:1200px) {
  .profile-links {
    background-color: rgb(122, 179, 243);
    padding: 30px 20px;
    text-align: center;
    margin: 50px 50px 0 50px;
    border-radius: 10px;
  }

  .mt-custom {
    margin-top: 50px;
  }
}

@media (max-width:991px) {
  .profile-links {
    background-color: rgb(122, 179, 243);
    padding: 30px 20px;
    text-align: center;
    margin: 20px 0 0 0;
    border-radius: 10px;
  }

  .mt-custom {
    margin-top: 20px;
  }
}

@media (max-width:600px) {
  .profile-links li {
    margin: 0;
  }

  .profile-links img {
    margin-bottom: 10px;
  }
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    position: relative;
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}