<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: Head"></div>
    <title>Sassila - Connectez-vous</title>
</head>

<body>
    <div class="container">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h2 class="form-signin-heading">Connectez-vous</h2>
            <div class="alert alert-success" role="alert">Vous êtes déconnectés</div>
            <p>
                <label for="username" class="sr-only">Login</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                    autofocus>
            </p>
            <p>
                <label for="password" class="sr-only">Mot de passe</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                    required>
            </p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        </form>
    </div>

    <div th:insert="fragments/footer :: Footer"></div>
</body>

</html>