<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: Head"></div>
    <title>Sassila - Mariage</title>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar starts here -->

        <div th:insert="fragments/sidebar :: SideBar">

        </div>

        <!-- Sidebar ends here -->

        <div id="page-content-wrapper">
            <div th:insert="fragments/nav :: Nav(page='Mariage')"></div>

            <div class="container-fluid px-4 vh-85" style="height: 85vh; overflow-y: scroll;">
                <div class="card mx-auto text-center" style="width: 70%;">
                    <div class="card-header">
                        <h2>
                            Ajouter des épouses à <a th:href="@{/admin/individu/{id}(id=${individu.id})}" th:text="${individu.prenom +' '+ individu.nom}"></a></h2>
                    </div>
                    <form th:action="@{/admin/ajouter-epouses}" method="post" th:object="${intermediaire}"
                        style="padding: 5%;">
                        <input type="hidden" th:value="${intermediaire.id}" name="individuId">
                        <select class="form-control" name="individus" id="individu" th:field="*{epouses}" multiple>
                            <option th:each="epouse : ${epouses}" th:value="${epouse.id}"
                                th:text="${epouse.prenom +' '+ epouse.nom}"></option>
                        </select>
                        <br />
                        <input class="btn btn-primary" type="submit" value="Affecter">
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div th:insert="fragments/footer :: Footer"></div>
</body>

</html>