<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: Head"></div>
    <title>Sassila - Sections</title>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar starts here -->

        <div th:insert="fragments/sidebar :: SideBar">

        </div>

        <!-- Sidebar ends here -->

        <div id="page-content-wrapper">
            <div th:insert="fragments/nav :: Nav(page='Sections')"></div>

            <div class="container-fluid px-4">
                <div style="display: flex; justify-content: center; align-items: center;">
                    <a th:href="@{/admin/{id}/ajouter-section(id=${individu.id})}" class="btn btn-primary"><i
                            class="fas fa-plus"></i> Ajouter section</a>
                </div>
                <div class="row my-5">
                    <h3>Sections de <span th:text="${individu.prenom+' '+individu.nom}"></span></h3>
                    <div class="col">
                        <table class="table bg-white rounded shadow-sm table-hover text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Titre</th>
                                    <th scope="col">Contenu</th>
                                    <th scope="col">Ordre d'affichage</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="section: ${sections}">
                                    <td th:text="${section.titre}"></td>
                                    <td th:text="${section.contenu}"></td>
                                    <td th:text="${section.ordreAffichage}"></td>
                                    <td>
                                        <a
                                            th:href="@{/admin/{individuId}/editer-section/{sectionId}(individuId=${individu.id}, sectionId=${section.id})}">
                                            <i class="fas fa-light fa-file-pen"></i>
                                        </a>
                                        <!-- &nbsp;
                                        <a th:href="@{/admin/section/{id}(id=${section.id})}">
                                            <i class="fas fa-regular fa-eye"></i>
                                        </a> -->
                                        &nbsp;
                                        <a href="#" data-bs-toggle="modal"
                                            th:attr="data-bs-target='#deleteModal'+${section.id}">
                                            <i class="fas fa-light fa-trash-can"></i>
                                        </a>
                                    </td>
                                    <div class="modal fade" tabindex="-1" th:attr="id='deleteModal'+${section.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Suppression</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Voulez-vous supprimer la section <span
                                                            th:text="${section.titre}"></span>
                                                        ?
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Non</button>
                                                    <a th:href="@{/admin/supprimer-section/{id}(id=${section.id})}"
                                                        class="btn btn-danger">Oui</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div th:insert="fragments/footer :: Footer"></div>
</body>

</html>